body {
    background: rgb(54,21,0);
    background: linear-gradient(90deg, rgba(54,21,0,1) 0%, rgba(96,54,1,1) 100%);
    color: #CC9544;
    max-width: 1000px;
    margin: auto;
    text-align: justify;
}

#fejlec {
    background-image: url("../képek/sok.png");
    background-size: auto;
    padding: 1rem;
}

#fokeret {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    #fokeret {
        flex-wrap: wrap;
    }
    
    #menu {
        margin: auto;
        width: 100%;
    }

    #menu ul {
        text-align: center;
    }

    #menu ul li {
        display: inline-block;
    }
} 


#menu ul li {
    list-style-image: url("../képek/MicrosoftTeams-image.png");
    background-color: #361500;
    border: 1px solid #CC9544;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
}

#menu ul li a {
    text-decoration: none;
    color: #CC9544;
}

table {
    width: 300px;
    margin: 20px auto auto auto;
    border-collapse: collapse;
    border-radius: 5px;
    
    
}

table, th, tr, td {
    border: 1px solid #CC9544;  
    font-weight: bold;
    padding: 5px;
    
}

table td:nth-child(2) {
    width: 120px;
    text-align: center;
}

table tr:nth-child(2) td:nth-child(2) {
    background-color: #1C0A00;
}

table tr:nth-child(3) td:nth-child(2) {
    background-color: #361500;
}

table tr:nth-child(4) td:nth-child(2) {
    background-color: #1C0A00;
}

table tr:nth-child(5) td:nth-child(2) {
    background-color: #361500; 
}


@media only screen and (max-width: 768px){
    #menu{
        display: none;
    }
}

@media only screen and (min-width:769px ){
    #hamburger {
        visibility: hidden;
    }

}

.hatter{
    background: rgb(54,21,0);
    background: linear-gradient(90deg, rgba(54,21,0,1) 0%, rgba(96,54,1,1) 100%);
}

.navhatter{
    background: rgb(54,21,0);
    background: linear-gradient(90deg, rgba(54,21,0,1) 0%, rgba(96,54,1,1) 100%);
}

.gombhatter{
    width: 40px;
}

.li{
    color: #CC9544;
    text-decoration: none;
    text-transform: none;

}

.li:hover{
    text-decoration: none;
    text-transform: none;
    color: #CC9544;
}

ul{
    list-style: none;
}









